.photo-grid__list {
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  padding: 0 24px 0;
  width: 100%;
  max-width: 1232px;
  list-style: none;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .photo-grid__list {
    padding: 0 16px 0;
    grid-gap: 12px;
  }
}
