.place__paragraph {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.635;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .place__paragraph {
    font-size: 0.85rem;
  }
}
