.lead__image {
  margin: 64px auto 0;
  width: 100%;
  max-width: 984px;
  background-image: url(../../../images/kalegin-michail-179870-unsplash.png);
  background-size: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin: 64px 0 0;
  }
}
