.buy-button {
  max-width: 248px;
  max-height: 48px;
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  grid-area: button;
  transition: background-color 0.5s ease 0s;
}

.buy-button:hover {
  background-color: #0063d2;
}

@media screen and (min-width: 500px) and (max-width: 580px) {
  .buy-button {
    font-size: 14.5px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 500px) {
  .buy-button {
    margin: 0 16px 0;
    max-width: 100%;
  }
}
