.buy-button {
  max-width: 248px;
  max-height: 48px;
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.22;
  grid-area: button;
}

@media screen and (max-width: 580px) {
  .buy-button {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 500px) {
  .buy-button {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 460px) {
  .buy-button {
    font-size: 0.7rem;
    line-height: 1.6;
  }
}
