.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  max-width: 100%;
}

/* @media (min-width: 650px) {
  .cover__content {
    width: 656px;
    min-height: 254px;
  }
}

@media screen and (max-width: 650px) {
  .cover__content {
    width: 320px;
    min-height: 254px;
  }
}

@media screen and (max-width: 320px) {
  .cover__content {
    width: 280px;
    min-height: 254px;
  }
} */
